# Maven
target/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Logs
*.log

# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# IDE files
*.iml
.idea/

# OS files
.DS_Store
Thumbs.db